# --- Python / Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# --- Model Artifacts (Large Files) ---
models/*.pth
models/*.bin

# --- Notebooks & Research ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Logs & Temp ---
*.log
api/temp/*


# --- Node / Frontend (dashboard) ---
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/